<%= form_with(model: snip, local: true) do |form| %>
  <% if snip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snip.errors.count, "error") %> prohibited this snip from being saved:</h2>

      <ul>
        <% snip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :fragment %>
    <%= form.text_area :fragment %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :version %>
    <%= form.number_field :version %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
