<p id="notice"><%= notice %></p>

<h1>Snips</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Fragment</th>
      <th>User</th>
      <th>Version</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snips.each do |snip| %>
      <tr>
        <td><%= snip.description %></td>
        <td><%= snip.fragment %></td>
        <td><%= snip.user_id %></td>
        <td><%= snip.version %></td>
        <td><%= link_to 'Show', snip %></td>
        <td><%= link_to 'Edit', edit_snip_path(snip) %></td>
        <td><%= link_to 'Destroy', snip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snip', new_snip_path %>
